@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/*@media screen and (min-width:768px) and (max-width: 992px) {} 

#34ACD6 azul
#ED6294 rosa
#FFD243 amarelo

*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
    background-image: url(/img/bolo-confeitaria-doce-custo.jpg);
    background-repeat: no-repeat;
    background-size: 130% ;
    background-position: top center;
    height: 80vh;
    width: 100vw;
}

section{
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.682);
    height: 100vh;
    width: 100vw;
}

div{
    text-align: center;
    align-items: center;
    padding: 0 25%px;
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}


h1{
    font-family: "Satisfy", cursive;
    font-size: 3.5em;
    font-weight: 100;
    color:  #34abd6;
    text-shadow: 1px 1px #000000;
    padding: 5px 0 20px;
}

h2{
    font-size: 1.9em;
    font-weight: 500;
    color:  #000000;
    padding: 5px 0 5px;
}

.letraspequenas,
.letraspequenas:hover {
    background-color: rgba(0, 0, 139, 0);
    color: #ED6294;
    font-weight: bold;
    text-decoration: underline;
    font-size: .8em;
    margin-top: -10px;
}
    
button, a{
    background-color: #FFD243;
    border: none;
    padding: 12px 80px;
    margin: 20px 0 4px 0;
    width: 100%;
    font-weight: bolder;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    box-sizing: border-box;
}

a{
    display: block;
    color:#000000;
    text-decoration: none;
}

button:hover,
a:hover{
    background-color: #ED6294;
    transition: .5s;
    transform: scale(102%);
    letter-spacing: 4.5px;
}