@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/*@media screen and (min-width:768px) and (max-width: 992px) {} 

#34ACD6 azul
#ED6294 rosa
#FFD243 amarelo

*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
    background-image: url(/img/bolo-confeitaria-doce-custo.jpg);
    background-repeat: no-repeat;
    background-size: 130% ;
    background-position: top center;
    height: 80vh;
    width: 100vw;
}

section{
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.682);
    height: 100vh;
    width: 100vw;
}

div{
    text-align: center;
    align-items: center;
    padding: 0 25%px;
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}




