@charset "utf-8"

/*
#34ACD6 azul
#ED6294 rosa
#FFD243 amarelo
*/

body{
    margin: auto;
}

table{
    position: relative;
    border-collapse: separate;
    width: 100%;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

thead > tr > th{
    position: sticky;
    top: 0;
    background-color: #34abd6;
    padding: 9px 2px;
    font-weight: 200;
    color: black;
}

th#iheaderTabelaMateriaPrima{
    width: 45%;
}

tbody > tr:nth-child(2n) {
    background-color: #34abd63a;
}

th, td{
    text-align: center;
    vertical-align: middle;
    font-weight: 100;
    color: rgb(77, 77, 77);
}

tr{
    background-color: rgb(255, 255, 255);
}

button{
    border: none;
    background-color: #34abd600;
    padding: 8px;
}

button:hover, button:active{
    background-color: #FFD243 ;
    border-radius: 100%;
}

button.bcadastrarPaginaMateriaPrima{
    background-color: black;
    padding: 50px;

}


