@charset "utf-8";


/*@media screen and (min-width:768px) and (max-width: 992px) {} 

#34ACD6 azul
#ED6294 rosa
#FFD243 amarelo

*/


    
h1{
    font-family: "Satisfy", cursive;
    font-size: 3.5em;
    font-weight: 100;
    color:  #34abd6;
    text-shadow: 1px 1px #000000;
    padding: 5px 0 20px;
}

h2{
    font-size: 1.9em;
    font-weight: 500;
    color:  #000000;
    padding: 5px 0 5px;
}

.letraspequenas,
.letraspequenas:hover {
    background-color: rgba(0, 0, 139, 0);
    color: #ED6294;
    font-weight: bold;
    text-decoration: underline;
    font-size: .8em;
    margin-top: -10px;
}
    
button, a{
    background-color: #FFD243;
    border: none;
    padding: 12px 80px;
    margin: 20px 0 4px 0;
    width: 100%;
    font-weight: bolder;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    box-sizing: border-box;
}

a{
    display: block;
    color:#000000;
    text-decoration: none;
}

button:hover,
a:hover{
    background-color: #ED6294;
    transition: .5s;
    transform: scale(102%);
    letter-spacing: 4.5px;
}

.Logohome,
.Logohome:hover{
    background-color: #34abd600;
}

#iform{
margin-top: 40px;
display: none;
}

p.formulario {
    display: flex;
    margin: 15px 0 15px 0;
    background-color: #FFD243;
    padding: 0;
    border-radius: 60px 0px 0 60px;
}

img.login{
    background-color: #ED6294;
    width: 8%;
    padding: 15px;
    border: none;
    padding: 10px;
}

#inome,
#isenha{
    background-color: #290d9a00;
    width: 95%;
    border: none;
    padding: 0 30px;
    text-align: center;
    border: solid 2px #ED6294;
}


/*  Página Cadastro */
#bcadastro{
    background-size: 120%;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

button#finalizarcadastro{
    background-color: #34abd6;
}

header{
    background-color: #ffffff;
    display: flex;
    padding: 0px 25%;
    align-items: center;
    height: 10%;
}

h1#tituloheader{
    align-items: center;
    margin:20px 0 0 20px;
    font-size: 2em;
    color: #ED6294;
}

p.destaquecadastro{
    font-size: 1.5em;
    padding: 20px 0 5px 0;
    text-shadow: 1px 1px 15px  #ffffff;
}

img#logoheader{
  width: auto;
  height: 45px;
} 

form{
    margin: 0;
    padding: 0; 
} 

input.formulario{
    background-color: #ffd343;
    width: 100%;
    padding: 12px 0;
    border: solid 2px #ED6294;
    text-align: center;
    display: flex;
    margin: auto;
}


/* Tela de  RECUPERAÇÂO DE SENHA*/
div#recuperarsenha{
    background-color: #ffffff;
    padding: 30px 20px 50px 20px;
    box-shadow: 0px 0px 10px   #0000008e;    
}



