@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/*@media screen and (min-width:768px) and (max-width: 992px) {} 

#34ACD6 azul
#ED6294 rosa
#FFD243 amarelo

*/
    



*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: aquamarine;
    background-image: url(/Imagens/Bolo\ custo\ para\ confeitaria.jpg);
    background-repeat: no-repeat;
    background-size: 130% ;
    background-position: top center;
    height: 100vh;
    width: 100vw;
}

section{
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.632);
    height: 100vh;
    width: 100vw;
}

div{
    text-align: center;
    align-items: center;
    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%); 
}


h1{
    font-family: "Satisfy", cursive;
    font-size: 3.5em;
    font-weight: 100;
    color:  #34abd6;
    text-shadow: 1px 1px #000000 ;
    padding: 5px 0 20px ;
}
    
button{
    background-color: #FFD243 ;
    border: none;
    padding: 12px 80px  ;
    margin: 10px 0;
    width: 100%;
    font-weight: bolder;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    box-sizing: border-box;
}

button:hover{
    background-color: #ED6294;
    transition: .5s;
    transform: scale(102%);
    letter-spacing: 4.5px;
}

img.login{
   display: block;
    width: 20px;
    background-color: #4362ff;
    padding: 12px;
    border-radius: 100%;
}

#isenha, #inome {

    background-color: #50ff43 ;
    border: none;
    padding: 12px 012px;
    text-align: center;
    margin: -60px 0 20px;
    width: 100%;
    
    font-weight: 100;
    font-size: 1em;
    box-sizing: border-box;
}
       