@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #ED6294;
    background-image: url(/Imagens/Bolo\ custo\ para\ confeitaria.jpg);
    background-repeat: no-repeat;
    background-size: 130% ;
    background-position: top center;
    
}
 
header{
    height: 57px;
    margin: auto;
    padding: 5px; 
    background-color: rgba(0, 0, 0, 0.916);    
}

img#logoheader{
    width: 55px;   
}


section{
    margin: auto;
    text-align: center;
    background-color: #f1f1f1ee;
    height: 89vh;
    
}


div{
    text-align: center;
    align-items: center;
        
}

div.botoesdoCriar{
  
    display: flex;
    width: 49%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    

}

h1{
    
    font-size: 1.3em;
    font-weight: 100;
    color:  #000000;
    font-weight: 500;
    margin-top: 15px;
    width: 100%;
    text-align: left;
    
}

h1#tituloReceitasProdutos{
    margin: 25px 0 20px 0;
}

.letraspequenas, .letraspequenas:hover {
    background-color: rgba(255, 255, 255, 0);
    color: #ED6294;
    font-weight: bold;
    text-decoration: underline;
    font-size: .8em;
    margin-top: -10px;
}
    


form, span{
   background-color: rgba(244, 244, 244, 0);
    margin: auto;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
    justify-content: space-between;
    margin-top: 12px;
}

   
 input, select{
    background-color: #ffffff24;
    padding: 5px 0;  
    text-align: center;
    margin: 5px 0;
    display: block;
    width: 100%;
    border: none;
    border-bottom: solid 3px #ED6294;
    
}

input.por3, select.por3{
    width: 31%;
    display: flex;
    
}

button#badicionar, #blistaCompleta{
    background-color: #ED6294;
    display: inline-flex;
    align-items: center;
    justify-content: start;
    padding: 5px 30px;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
    width: 49%;
    font-size: 1em;
    margin: 20px 0 0 0;
}

#blistaCompleta, #divListaCompleta{
    background-color: #34abd6 ;
    font-size: 1em;
    color: white;
}

button#divCriar{
    background-color: #ED6294;
    color: white;
    font-size: 1em;
    text-transform: capitalize;
}

button#divCriar:hover, button#divListaCompleta:hover {
    background-color: #ffd343;
    color: #ED6294;
    font-weight: bold;

}


button#badicionar:hover, #blistaCompleta:hover{
    background-color: #ffd343;
    color: #ED6294;
    font-weight: bold;
}
button.criarReceitaProduto{
    background-color: #ffd343;
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: none;

}


#imgbotaoadicionar{
  width: 10%;
  background-color: #ffd343;
  padding: 2px;
  border-radius: 100%;
  margin: 0 20px 0 0;

}


img.imagemdestaque{
    width: 25%;
   
}



