@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/*@media screen and (min-width:768px) and (max-width: 992px) {} 

#34ACD6 azul
#ED6294 rosa
#FFD243 amarelo

*/
    



*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: aquamarine;
    background-image: url(/Imagens/Bolo\ custo\ para\ confeitaria.jpg);
    background-repeat: no-repeat;
    background-size: 130% ;
    background-position: top center;
    height: 100vh;
    width: 100vw;
}

section{
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.632);
    height: 100vh;
    width: 100vw;
}

div{
    text-align: center;
    align-items: center;
    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%); 
}


h1{
    font-family: "Satisfy", cursive;
    font-size: 3.5em;
    font-weight: 100;
    color:  #34abd6;
    text-shadow: 1px 1px #000000 ;
    padding: 5px 0 20px ;
}
    
button, a{
    background-color: #FFD243 ;
    border: none;
    padding: 12px 80px  ;
    margin: 20px 0 4px 0;
    width: 100%;
    font-weight: bolder;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    box-sizing: border-box;
}

button:hover, a:hover{
    background-color: #ED6294;
    transition: .5s;
    transform: scale(102%);
    letter-spacing: 4.5px;
}


#iform{
margin-top: 40px;
display: none;
}

p.formulario{
    display: flex;
    margin: 15px 0 15px 0;
    background-color: #FFD243;
    padding: 0;
    border-radius: 60px 0px 0 60px;
    
    
}

img.login{
    background-color: #ED6294;
    width: 8%;
    padding: 15px;
    border: none;
    
    
    padding: 10px;
    
}

#inome, #isenha{
    background-color: #290d9a00;
    width: 95%;
    border: none;
    padding: 0 30px;
    text-align: center;
    border: solid 2px #ED6294;
}

